.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    gap: 0;

    & input {
        border-top-right-radius: 0 ;
        border-bottom-right-radius: 0 ;
        border-right: none;
    }

    & button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}